html {
  font-family: cursive;
}

body {
  background: lightgrey;
}

h1 {
  font-size: 58px;
  text-align: center;
  color: #3c7288;
  font-family: monospace;
}

h2 {
  font-size: 20px;
  text-align: center;
  color: grey;
  font-family: sans-serif;
}

ul {
  color: hotpink;
  font-family: inherit;
  width: 800px;
}

ul img{
  max-width: 500px;
  max-height: 300px;
  width: auto;
  height: auto;
}
